body {
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
.logo span {
  color: mediumaquamarine;
}
header nav {
  padding-right: 40px;
}
nav span {
  display: inline-block;
  padding: 20px 20px
}
a {color: black;
}
.content {
  display: flex;
  flex-wrap: nowrap;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}
div {
  border: 1px solid black;
}
.column.large {
  width: 630px;
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240px;
}
